/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Sans 3';
  src: url('/fonts/SourceSans3VF-Roman.ttf.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro-Regular.ttf.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-size: 15px !important;
  line-height: 1.5 !important;
  font-family: 'Source Sans 3', sans-serif !important;
}

p,
li,
a {
  /*font-size: 14px;*/
  /*line-height: 1.5;*/
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.size-anim {
  transition: all 0.3s ease-in;
}

.no-dot {
  .mantine-Badge-root::before {
    display: none !important;
  }
}

.no-dot::before {
  display: none !important;
}

.mermaid-hide-pre {
  pre {
    display: none;
  }
}
